@charset "utf-8";
.header .middle {
  background: #333;
}
.header .middle .left-nav {
  height: 40px;
  float: left;
  position: relative;
}
.header .middle .left-nav a {
  text-align: center;
  font-size: 13px;
  color: #b0b0b0;
  line-height: 40px;
}
.header .middle .left-nav a:hover {
  color: white;
}
.header .middle .left-nav > span {
  margin: 0 0.3em;
  color: #424242;
  line-height: 40px;
  text-align: center;
}
.header .middle .left-nav .par:hover .sub-nav {
  display: block;
}
.header .middle .left-nav .sub-nav {
  width: 130px;
  height: 155px;
  background: red;
  position: absolute;
  left: 602px;
  background: #fff;
  transition: ease 0.3ms height;
  display: none;
  z-index: 9999;
  box-shadow: 0 1px 5px #aaa;
}
.header .middle .left-nav .sub-nav img {
  display: block;
  width: 90px;
  margin: 20px auto;
}
.header .middle .left-nav .sub-nav p {
  text-align: center;
  color: black;
  line-height: 0;
}
.header .middle .right-nav {
  float: right;
}
.header .middle .right-nav span {
  margin: 0 0.3em;
  color: #424242;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
}
.header .middle .right-nav a {
  text-align: center;
  font-size: 13px;
  color: #b0b0b0;
  line-height: 40px;
}
.header .middle .right-nav a:hover {
  color: white;
}
.header .middle .right-nav .shopping-car {
  float: right;
  width: 120px;
  text-align: center;
  margin-left: 30px;
  background: #424242;
}
.header .middle .right-nav .shopping-car a {
  display: inline-block;
  vertical-align: 2px;
}
.header .middle .right-nav .shopping-car:hover {
  background: white;
}
.header .middle .right-nav .shopping-car:hover a,
.header .middle .right-nav .shopping-car:hover span {
  color: orangered;
}
.header .last .wrapper > div {
  float: left;
}
.header .last .header-logo {
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  margin: 20px 0;
}
.header .last .header-logo a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.header .last .header-logo a::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(https://s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 33;
  transition: 0.2s;
}
.header .last .header-logo a::before {
  content: "";
  height: 100%;
  width: 100%;
  background: url(https://s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -55px;
  transition: 0.2s;
}
.header .last .header-logo a:hover:after,
.header .last .header-logo a:hover:before {
  transform: translate(55px);
}
.header .last .header-nav > ul {
  margin-left: 38px;
  margin-right: 60px;
}
.header .last .header-nav > ul > li {
  float: left;
  padding: 40px 12px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.header .last .header-nav > ul > li:hover > a {
  color: #ff6700;
}
.header .last .header-nav > ul > li:first-child:hover > ul {
  display: block;
}
.header .last .header-nav > ul > li:first-child > ul {
  background: white;
  padding: 15px 0;
  position: absolute;
  z-index: 99;
  top: 102px;
  right: -22px;
  border: red 1px solid;
  display: none;
}
.header .last .header-nav > ul > li:first-child > ul li {
  box-sizing: border-box;
  width: 234px;
  height: 43px;
  padding-left: 30px;
  line-height: 43px;
  position: relative;
}
.header .last .header-nav > ul > li:first-child > ul li:hover {
  background: #ff6700;
}
.header .last .header-nav > ul > li:first-child > ul li:hover a {
  color: white;
}
.header .last .header-nav > ul > li:first-child > ul li span {
  color: #e0e0e0;
  position: absolute;
  right: 24px;
  top: 14px;
  font-size: 14px;
}
.header .last .header-nav > ul > li:first-child > ul li a {
  font-size: 14px;
  color: black;
}
.header .last .header-search {
  margin-top: 25px;
  position: relative;
  margin-left: 10px;
}
.header .last .header-search:hover input,
.header .last .header-search:hover button {
  transition: 0.5s;
  border: 1px solid #b0b0b0;
}
.header .last .header-search input {
  display: inline-block;
  border: 1px solid #e0e0e0;
  outline: 0;
  width: 245px;
  height: 50px;
  vertical-align: middle;
  background: #ffffff;
}
.header .last .header-search button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: white;
  outline: 0;
  margin-left: -5px;
  position: absolute;
  top: 0;
  color: #616161;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
}
.header .last .header-search button:hover {
  background: #ff6700;
  color: white;
}
